!!! 1.1
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en" }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %meta{ "name" => "description", "content" => "For all those people that find it more convenient to bother you with their question rather than google it for themselves." }
    %meta{ "name" => "keywords", "content" => "google, search, funny, comedy" }
    %link{ :rel => "icon", :type => "image/x-icon", :href => "favicon.ico" }
    %title Let me google that for you
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js", :type => "text/javascript" }
    %script{ :src => "application.js", :type => "text/javascript" }
    %style{ :rel => "text/css" }
      :plain
        * { font-family:arial,sans-serif; }
        #logo { position: relative; top: 2em; }
        .logo { font-size: 1.5em; color: #444; }
        input.text { font-size: 1.0em; }
        #fake_mouse { position: absolute; top: 100px; left: 100px; }
        #instructions { margin-top: 50px; font-size: 1.1em; color: #999; width: 350; height: 84px; background: transparent url(images/instructions_bg.png) no-repeat top center; }
        #instructions div { line-height: 84px; }
        #link { display: none; margin-top: 25px; }
        input.link { width: 312px; font-size: 1.2em; text-align: center; border: 1px solid #c2c9ff; color: #555; background-color: #f4fbff; cursor: pointer; }
        #footer { color: #999; margin-top: 50px; border-top: solid 1px #ddd; padding-top: 0.5em; }
        #footer a { color: #999; text-decoration: none; padding: 0 1em; }
        #footer a:hover { text-decoration: underline; }
        #about { margin-top: 0.5em; color: #666; }
        #copyright { position: fixed; bottom: 0; width: 100%; padding: 0.25em; text-align: center; font-size: 0.75em; color: #bbb; background-color: #fff; }
        #copy_buttons, #copy_message { position: absolute; display: none;}
        a.copy_button { display: block; float: left; width: 60px; height: 20px; margin: 0 2px; padding: 5px 0; background: transparent url(images/copy_button.png) no-repeat center center; color: #fff; line-height: 20px; text-align: center; font-size: 0.8em; text-decoration: none; }
        a.copy_button:hover { background-image: url(images/copy_button_hover.png) }
        #copy_message { z-index: 99; width: 332px; height: 32px; background: url(images/copy_message.png); color: #fff; line-height: 32px; text-align: center; font-size: 1em; }
  %body
    %center
      .logo
        %span{ :rel => "localize.pre_logo" } let me
        %img#logo{ :src => "http://www.google.com/intl/en_ALL/images/logo.gif" }
        %span{ :rel => "localize.post_logo" } that for you
      %br
      %br
      %br
      %form
        %input.text{ :type => "text", :size => 55, :title => "Google Search", :value => "" }
        %br
        %input#search{ :type => "button", :value => "Google Search", :rel => "localize.search_button" }
        %input#lucky{ :type => "button", :value => "I'm Feeling Lucky", :rel => "localize.lucky_button" }

      #instructions
        %div
          Enable javascript to use LMGTFY.

      #link
        %input.link.copyable{ :type => "text", :readonly => true }
        #copy_message
        #copy_buttons
          %a#copy_url.copy_button{ :href => "#", :rel => "localize.url.copy" } copy
          %a#copy_tiny.copy_button{ :href => "#", :rel => "localize.url.shorten" } tinyurl
          %a#copy_go.copy_button{ :href => "#", :rel => "localize.url.go" } go

      #footer
        %a.about{ :href => "#", :name => "about", :rel => "localize.about" } About
        %a{ :rel => "localize.contact", :href => "&#109;&#97;&#105;&#108;&#116;&#111;&#58;%73%74%61%66%66@%6c%6d%67%74%66%79.%63%6f%6d?body=Jim%20and%20Ryan%20are%20awesome%21&amp;subject=I%20love%20LMGTFY%21" } Contact

      #about{ :style => "display: none" }
        %p{ :rel => "localize.credit" }        Created by @coderifous, contributions by @rmm5t.
        %p{ :rel => "localize.genesis" }       Inspired during a lunch conversation with @coderifous, @tmassing, @rmm5t, @EricStratton, and @methodvon.
        %p{ :rel => "localize.translated_by" }
        %p{ :rel => "localize.pitch" }         This is for all those people that find it more convenient to bother you with their question rather than google it for themselves.
        %p{ :rel => "localize.disclaimer" }    Not associated with Google&trade; in any way.
        %br

    #copyright
      &copy; LMGTFY, 2008 |
      %span{ :rel => "localize.google_owns_google" } GOOGLE is a trademark of Google Inc.

    %img#fake_mouse{ :src => "images/mouse_arrow.png", :style => "display: none" }

    :plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-6370983-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
