!!! 1.1
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en" }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %meta{ "name" => "description", "content" => "For all those people that find it more convenient to bother you with their question rather than google it for themselves." }
    %meta{ "name" => "keywords", "content" => "google, search, funny, comedy" }
    %link{ :rel => "icon", :type => "image/x-icon", :href => "favicon.ico" }
    %title Let me google that for you
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js", :type => "text/javascript" }
    %script{ :src => "application.js", :type => "text/javascript" }
    %style{ :rel => "text/css" }
      :plain
        * {
        font-family:arial,sans-serif;
        }
        #logo { position: relative; top: 2em; }
        .logo { font-size: 1.5em; color: #444; }
        input.text { font-size: 1.0em; }
        #fake_mouse { position: absolute; top: 100px; left: 100px; }
        #instructions {
        position: relative; top: 50px;
        font-size: 1.2em; color: #999;
        width: 334px; height: 84px;
        background-image: url(images/instructions_bg.png);
        }
        #instructions div { padding-top: 1.5em }
        #link { position: relative; top: 60px; font-size: 1.1em; color: #555 }
        #footer { color: #999; position: relative; top: 100px; border-top: solid 1px #ddd; padding-top: 0.5em }
        #footer a { color: #999; text-decoration: none; font-size: 0.9em; padding: 0 1.5em; }
        #footer a:hover { text-decoration: underline; }
        #about { position: relative; top: 100px; padding-top: 0.5em; color: #666 }
  %body
    %center
      .logo
        let me
        %img{ :id => "logo", :src => "http://www.google.com/intl/en_ALL/images/logo.gif" }
        that for you
      %br
      %br
      %br
      %form
        %input.text{ :type => "text", :size => 55, :title => "Google Search", :value => "" }
        %br
        %input{ :type => "button", :value => "Google Search", :id => "search" }
        %input{ :type => "button", :value => "I'm Feeling Lucky", :id => "lucky" }

      #instructions
        %div
          \:)

      #link

      #footer
        %a.about{ :href => "#", :name => "about" } About
        %script{ :type => "text/javascript" }
          eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%73%74%61%66%66%40%6c%6d%67%74%66%79%2e%63%6f%6d%3f%62%6f%64%79%3d%4a%69%6d%25%32%30%61%6e%64%25%32%30%52%79%61%6e%25%32%30%61%72%65%25%32%30%61%77%65%73%6f%6d%65%25%32%31%26%61%6d%70%3b%73%75%62%6a%65%63%74%3d%49%25%32%30%6c%6f%76%65%25%32%30%4c%4d%47%54%46%59%25%32%31%22%3e%43%6f%6e%74%61%63%74%3c%2f%61%3e%27%29%3b'))
        %a.huh{ :href => "?q=site%3Agizmodo.com+%22let+me+google+that+for+you%22&l=1" } Wait...I don't get it

      #about{ :style => "display: none" }
        %p Created by @coderifous, contributions by @rmm5t.
        %p Inspired during a lunch conversation with @coderifous, @tmassing, @rmm5t, @EricStratton, and @methodvon.
        %p This is for all those people that find it more convenient to bother you with their question rather than google it for themselves.
        %p Not associated with Google&trade; in any way.

    %img{ :id => "fake_mouse", :src => "images/mouse_arrow.png", :style => "display: none" }

    :plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-6370983-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>

